* {
	position: relative;
	--color-red: #e84118;
	--color-black: #2f3640;
	--color-gray: #dcdde1;
}
body {
	margin: 0;
	overflow: hidden;
}
h1 {
	text-align: center;
	color: var(--color-black);
}
#street {
	padding: 20px 0;
	min-height: 50px;
	display: flex;
	justify-content: space-around;
}
.building {
	width: 30px;
	height: 50px;
	background-color: var(--color-black);
	position: relative;
}
.building:after {
	content: "";
	width: 10px;
	border-bottom: 10px solid var(--color-black);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: absolute;
	bottom: 100%;
	left: 0;
}
.fire {
	background-color: var(--color-red);
}
.fire:after {
	border-bottom-color: var(--color-red);
}
#fireman {
	width: 30px;
	height: 50px;
	background-color: var(--color-black);
	position: relative;
	border-radius: 10px 10px 0 0;
}
#fireman:after,
#fireman:before {
	content: "";
	background-color: var(--color-red);
	position: absolute;
}
#fireman:after {
	top: 0;
	left: 0;
	width: 30px;
	height: 20px;
	border-radius: 10px 10px 0 0;
}
#fireman:before {
	top: 20px;
	left: -10px;
	width: 50px;
	height: 2px;
}
#firetruck {
	width: 100px;
	height: 50px;
	background-color: var(--color-red);
	position: relative;
}
#firetruck:after,
#firetruck:before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: var(--color-black);
	position: absolute;
	bottom: -10px;
}
#firetruck:after {
	right: 10px;
}
#firetruck:before {
	left: 10px;
}
#fireman,
#firetruck {
	margin-top: 10px;
}
.score {
	font-family: sans-serif;
	font-size: 50px;
	position: absolute;
	color: var(--color-gray);
	text-transform: uppercase;
	letter-spacing: 10px;
}